body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('Images/HomePage.jpg'); /*Setting background pic*/
    background-size: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*~~~NAVBAR~~*/

/*Navbar Text Color and Font*/
.navbar-brand {
    color: #FFFF00 !important;
    font-family: 'Pacifico', cursive;
}

    .navbar-brand:visited {
        color: #FFFF00 !important;
        font-family: 'Pacifico', cursive;
    }

.navbar-default-color {
    color: #FFFF00 !important;
    font-family: 'Pacifico', cursive;
}

.navbar-inverse {
    color: #FFFF00 !important;
    font-family: 'Pacifico', cursive;
}

/*Navbar Item Color*/
.dropdown-toggle {
    color: #ff69b4 !important;
}

    .dropdown-toggle:visited {
        color: #ff69b4 !important;
    }

.navbar-default-color.dropdown-toggle {
    color: #ff69b4 !important;
}

.navbar-inverse.dropdown-toggle {
    color: #ff69b4 !important;
}

/*Setting Navbar Dropdown Colors*/
.green {
    background-color: #00ff00;
}

.yellow {
    background-color: #ffff00;
}

.blue {
    background-color: #0000ff;
}

.pink {
    background-color: #ff69b4;
}

/*~~~HOME PAGE~~~*/

/*Customizing Panel Section*/
.thehomedeets {
    margin-bottom: 30px;
    height: 350px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.8);
}

    /*Customizing Panel Margin, Font and Alignment*/
    .thehomedeets h1, h3 {
        margin-top: 60px;
        font-family: 'Pacifico', cursive;
        text-align: center;
    }

    /*Customizing Panel h1 Color and Size*/
    .thehomedeets h1 {
        font-size: 95px;
        color: #0000ff;
    }

    /*Customizing Panel h3 Color and Size*/
    .thehomedeets h3 {
        color: #00ff00;
        font-size: 45px;
    }

/*Customizing Thumbnails*/
.home {
    padding: 0 0;
    opacity: .8;
    position: relative;
}

/*~~~INDEX PAGE~~~*/

/*Customizing Panel*/
.thedeets {
    margin-top: 120px;
    background-color: rgba(0, 0, 0, 0.8);
}

    /*Customizing Panel Text*/
    .thedeets h2 {
        font-family: 'Pacifico', cursive;
        color: #00ff00;
        text-align: center;
        font-size: 55px;
    }

/*Setting Height and Font Detail for Index Wardrobe Item Thumbnails*/
.indexBox {
    width: 225px;
    height: 300px;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

    /*Setting Thumbnail Image Size*/
    .indexBox img {
        height: 150px;
    }

    /*Setting Thumbnail p Text Color*/
    .indexBox p {
        color: #ff69b4;
    }

/*~~~DETAILS PAGE~~~*/

/*Cusotmizing Details Panel*/
.thedeets2 {
    margin-top: 120px;
    background-color: rgba(0, 0, 0, 0.8);
}

    /*Customizing Panel Text*/
    .thedeets2 h2 {
        font-family: 'Pacifico', cursive;
        font-size: 35px;
        text-align: center;
    }

/*Setting Image Height*/
.detailsPic img {
    max-width: 500px;
    height: 400px;
    padding-top:30px;
}

/*Customizing Detail Font Colors*/
.greenDeets {
    color: #00ff00;
}

.yellowDeets {
    color: #ffff00;
}

.blueDeets {
    color: #0000ff;
}

.pinkDeets {
    color: #ff69b4;
}

/*Customizing Edit and BackToList Links*/
.yellowDeets a {
    color: #ffff00;
    font-size: 15px;
    font-family: 'Pacifico', cursive;
}

.thedeets2 p {
    text-align: center;
}

/*Customizing Footer*/
.footer p {
    color: #00ff00;
}
